
<div class="tot">

  <button type="button" (click)="getHero()"  class="btn btn-primary">Genera Attività</button>

  <div class="main"*ngFor="let item of list" >
  <div class="title">{{item.activity}}</div>
  <div class="inp" >
    <div class="left">Difficoltà:</div>
    <div class="right">
      <div *ngIf="item.accessibility < 0.3">Bassa</div>
      <div *ngIf="item.accessibility > 0.31 && item.accessibility < 0.5">Media</div>
      <div *ngIf="item.accessibility > 0.5">Alta</div>
    </div>
  </div>
  <div class="inp">
    <div class="left">Tipo:</div>
    <div class="right">{{item.type}}</div>
  </div>
  <div class="inp">
    <div class="left">Partecipanti:</div>
    <div class="right">{{item.participants}}</div>
  </div>
  <div class="inp">
    <div class="left">Prezzo:</div>
    <div class="right">{{item.price}}</div>
  </div>
  <div class="inp">
    <div class="left">Link:</div>
    <div class="right" *ngIf="item.link !== ''">{{item.link}}</div>
    <div class="right" *ngIf="item.link === ''">Nessun link correlato</div>
  </div>

  <button type="button" (click)="save(item)"  class="btn btn-warning">Salva Preferito</button>
</div>

</div>
