<div class="fit-container">
  <input class="inp" type="text" #letter placeholder="Inserisci una lettera">
  <button type="button" class="btn btn-primary" (click)="getList(letter.value)">Lista Cocktails</button>
</div>


<table class="table table-right container" *ngIf="value">
  <thead>
    <tr>
      <th scope="col">idDrink</th>
      <th scope="col">strDrink</th>
      <th scope="col">strCategory</th>
      <th scope="col">strInstructionsIT</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arr">

      <td>{{item.idDrink}}</td>
      <td>{{item.strDrink}}/td>
      <td>{{item.strCategory}}</td>
      <td>{{item.strInstructionsIT}}</td>
      <td><button type="button" class="btn btn-warning" (click)="addPref(item)"
          style="white-space: no-wrap; padding: 5px">Salva Preferito</button></td>

    </tr>

  </tbody>

</table>